
.quarto-about-jolla {
  padding-top: 4vh !important;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.12);
  pointer-events: none;
}

body {
  background-position: center 30%;
}

/* Title (Name) */
.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em !important;
  letter-spacing: 0.02em;
}

/* Subtitle & Blurb*/
.subtitle {
  font-family: "Cormorant";
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

/* main chunk: title, subtitle, and about message */
.entity-contents {
  text-align: justify !important;
  padding: 0;
}

/* about me message */
.about-contents {
  padding: 0 0 0 2em !important;
  text-align: justify !important;
}

/* Learn More About Me */
.about-links.subtitle {
  font-size: 1em !important;
  font-family: "Red Hat Text";
  justify-content: flex-end !important;
}

/* image */
.about-image {
  order: 0 !important;
  margin-top: -2em;
  padding: 0 2em 0em 0;
}

#hero-heading {
  background: rgba(255, 255, 255, 0.55);  /* transparent white */
  padding: 1rem;
  border-radius: 12px;
  max-width: 850px;
  backdrop-filter: blur(8px);
}

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {

    .about-entity{
      flex-direction: column;
    }

    /* move image to top & adjust viewport scaling */
    .about-image {
      order: 0 !important;
      padding: 0 1em 0 1em !important;
      width: 80vw !important;
      height: 80vw !important;
    }

    .entity-contents {
      order: 2 !important;
      margin: -4em 0 0 0 !important;
      padding: 0 0 0 0em !important;
      text-align: justify !important;
    }

    /* center subtitle */
    .subtitle {
      text-align: center !important;
    }

    /* introduction */
    .about-contents {
      justify-content: justify !important;
      padding: 0 0 0 0em !important;
      text-align: justify !important;
    }

    /* center Learn More About Me */
    .about-links.subtitle {
      justify-content: justify !important;
    }

}