/*-- scss:defaults --*/

// SPC Color Palette (custom)
$spc-primary:        #d4cdb3;
$spc-primary-light:  #f4f1e2;

$spc-secondary:      #a8906a;
$spc-secondary-light:#d8c4a3;

$spc-accent:         #E05E4D;
$spc-accent-light:   #F8A79C;
$spc-accent-dark:    #B9483B;

$spc-bg-0:           #2c2c28;
$spc-bg-1:           #f0efec;
$spc-bg-00:          #00000010;