/*-- scss:defaults --*/

// SPC Color Palette (custom)
$spc-primary:        #002244; // deep navy
$spc-primary-light:  #334d66; // lighter navy
$spc-secondary:      #4b7042; // forest green
$spc-secondary-light:#639457;

$spc-accent:         #FF6F61; // coral
$spc-accent-light:   #FFB3AB;
$spc-accent-dark:    #B0443A; // deeper accent

$spc-bg-0:           #e4e1d4; // neutral beige
$spc-bg-1:           #2B2B2B; // dark
$spc-bg-00:          #00000020; // stronger subtle shadow