/*-- scss:defaults --*/

// SPC Color Palette (custom)
$spc-primary:        #002244; // dark navy
$spc-primary-light:  #334d2d;
$spc-secondary:      #4b7042; // forest green
$spc-secondary-light:#639457;

$spc-accent:         #FF6F61; // coral
$spc-accent-light:   #FFB3AB;
$spc-accent-dark:    #CC564C;

$spc-bg-0:           #cfcab7; // beige
$spc-bg-1:           #2B2B2B; // dark for code blocks
$spc-bg-00:          #00000010; // subtle translucent black for box shadows