/*-- scss:defaults --*/

// Miles' Color Palette 
$mm-primary:        #ececec;
$mm-primary-light:  #f4f1e2;
$mm-secondary:      #ebe5d8;
$mm-secondary-light:#c6bfb6;

$mm-accent:         #E05E4D;
$mm-accent-light:   #F8A79C;
$mm-accent-dark:    #B9483B;

$mm-bg-0:           #464c5b;
$mm-bg-1:           #f0efec;
$mm-bg-00:          #00000010;